---
import Layout from '../layouts/Layout.astro';
---

<Layout title="from africa with love">
	<main>
		<a href="/"><span class="text-gradient text-xl">from africa with love</span></a>
		<br /><br />
		<div class="rounded-lg overflow-hidden shadow-lg bg-white text-sm py-15 px-15 w-full text-center">
			<br/><br/><br/>
			This page will be available soon.
			<br/><br/><br/>
			Follow <code><a href="https://twitter.com/fawlapp">@fawlapp</a></code> on twitter for updates.
			<br/><br/><br/><br/><br/>
		</div>
	</main>
</Layout>